{% extends './base.html' %}
{% load static %}
{% block content %}
<section class="section is-small"></section>
<section class="section is-medium pt-2">
  <div class="columns is-vcentered">
    <div class="column"></div>
    <div class="column has-text-centered is-3">
      <div class="container">
        <div class="box has-background-grey-darker">
          <span class="material-icons mt-3 icon-style">3p</span>
          <h1 class="title has-text-primary-light mt-5">Welcome to Chatizy</h1>
          
          <p class="subtitle has-text-primary-light mt-6 mb-3">Nickname:</p>
          <p id="invalid-username" class="subtitle is-6 m-1 invalid">Invalid nickname*</p>
          <input id="username-input" class="input login-input" placeholder="pick your best nickname..."></input>
          
          <p class="subtitle has-text-primary-light mt-5 mb-3">Room number:</p>
          <p id="invalid-roomname" class="subtitle is-6 m-1 invalid">Invalid room number*</p>
          <!-- <input id="roomname-input" class="input login-input" placeholder="choose your room number..."></input> -->
          <select name="roomname" id="roomname-input" class="input login-input">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <button id="login-button" class="button is-large mt-5 mb-5 login-button" onclick="loginHandle()">entrar</a>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</section>
{% endblock %}
