<nav class="navbar has-background-grey-darker is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ml-5">
    <a class="navbar-item" href="{% url 'index' %}">
      <span class="material-icons">3p</span>
      <h1 class="title has-text-white ml-3 mb-2">Chatizy</h1>
    </a>
    <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbar-menu-id">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu-id" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item has-text-white" href="{% url 'index' %}"> Home </a>

      <a class="navbar-item has-text-white" href="https://github.com/nikholasborges/Chat_WebApp"> GitHub Repo </a>
    </div>

    <div class="navbar-end mr-5">
      <h4 class="has-text-white">made by nikholasborges</h4>
    </div>
  </div>
</nav>
